@font-face {
  font-family: "Merriweather", serif;
  src: url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100..900&display=swap');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "AlbraSansTRIAL-Bold";
  src: url("../../../resources/images/pattern/common/AlbraSansTRIAL-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AlbraGroteskTRIAL-Medium";
  src: url("../../../resources/images/pattern/common/AlbraGroteskTRIAL-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AlbraTextTRIAL-Medium";
  src: url("../../../resources/images/pattern/common/AlbraTextTRIAL-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AlbraSansTRIAL-Medium";
  src: url("../../../resources/images/pattern/common/AlbraSansTRIAL-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Noto Sans KR", serif;
  src:  url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100..900&display=swap');
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QTWeise-Bold";
  src: url("../../../resources/images/pattern/common/QTWeise-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QTWeise";
  src: url("../../../resources/images/pattern/common/QTWeisewoff") format("woff");
  font-weight: normal;
  font-style: normal;
}

