@font-face {
  font-family: "AlbraSansTRIAL-Medium";
  src: url("../../images/pattern/common/AlbraSansTRIAL-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QTWeise-Bold";
  src: url("../../../resources/fonts/QTWeise-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QTWeise";
  src: url("../../../resources/fonts/QTWeisewoff") format("woff");
  font-weight: normal;
  font-style: normal;
}
