<footer>
  <div class="foot_inner">
    <div class="logo_bottom">
      <a href="/">
        <img src="../../resources/images/pattern/common/sulwhasoo_orange_logo_220902.jpeg" alt="">
      </a>
    </div>
    <div>
      <div>
        상호명 (주)아모레퍼시픽 
      </div>
      <div class="div">사업자등록번호106-86-43373</div>
      <div>주소 서울특별시 용산구 한강대로 100(한강로2가)</div>
      <a href="mailto:support_kr@amoremall.com">support_kr@amoremall.com(주문/배송/쇼핑 문의)</a>
      <a href="mailto:biz_amoremall@amorepacific.com">(비즈니스 문의)</a>
      <div class="div">대표이사  김승환</div>
    </div>
    <div class="copy">© AMOREPACIFIC CORPORATION. All rights reserved.</div>
    <div class="sns">
      <a href="#">Youtube</a>
      <a href="#">Facebook</a>
      <a href="#">Instargram</a>
    </div>
    <div class="familsite">
    <select name="" id="">
      <option value="">패밀리사이트1</option>
      <option value="">패밀리사이트1</option>
      <option value="">패밀리사이트1</option>
    </select>
    </div>
    <button id="to-top">top</button>
  </div>
</footer>
