// 사이트 컨텐츠 내용
:root {
  --swiper-theme-color: red;
}

// 전역 스타일
.swiper {
  width: 100%;
  height: 100%;
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-next::before,
  .swiper-button-prev::before {
    @include lineAwesome;
    font-size: 3rem;
    color: $black;
    opacity: 0.5;
  }
  .swiper-button-next::before {
    content: "\f138";
  }
  .swiper-button-prev::before {
    content: "\f137";
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover; // background-size: cover 와 비슷함. (HTML 요소 or 비디오와 작동)
  }
} /* bg-video */
.container {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  .section-img {
    text-align: center;
  }
  .section-content {
    position: relative;

    margin: 0 auto;
    .title {
      font-family: "Kablammo", system-ui;
      font-size: 8.75rem;
      font-weight: bold;
      letter-spacing: 3px;
      line-height: 135px;
    }
    .txt {
      font-family: "Noto Sans KR";
      margin-top: 4px;
      &__descMain {
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 0%;
        line-height: auto;
        margin: 8px 0;
      }
      &__descSub {
        margin-top: 19px;
        font-size: 1.3rem;
      }
      &__price {
        margin-top: 8px;
        color: #666;
        font-size: 1.2rem;
      }
    }
  }
  .mainTxt {
    width: 1280px;
    height: 446px;
  }
  .cream_video {
    width: 470px;
  }

  /* .product-second {
    display: block;
    content: "";
    width: 200px;
    height: 300px;
    background-image: url(https://www.sulwhasoo.com/kr/ko/resource/img/cover/first_care_activating_serum_vi_feature02_img_pc_kr_240213.png);
  } */
  .mainTxt__sub {
    font-family: "Noto Sans KR";
    color: #ddd;
  }
  .yunjo_video {
    width: 100%;
  }

  .item {
    ul {
      display: flex;
      li {
        a {
          .stagger {
            line-height: 20px;
            letter-spacing: 1.1px;
            margin: 25px 0px 30px 0px;
            padding: 0px 30px 0px 0px;
            .product-line {
              display: block;
              margin: 0px 0px 10px;
              color: #999;
              font-size: 1.3rem;
              font-weight: bold;
            }
            .product-description {
              display: block;
              color: #666;
              margin: 0px 0px 10px;
            }
            .product-price {
              display: block;
              margin: 8px 0px 0px;
              color: #333;
            }
          }
        }
      }
    }
  }
}

.product-second {
  &::before {
    content: "";
    display: block;
    width: 100%; /* 크기 설정 */
    height: 1000px; /* 크기 설정 */
    background: url("../images/pattern/common/first_care_activating_serum_vi_feature02_img_pc_kr_240213.png") no-repeat center;
  }
}
.heritage {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 600px;
  margin-top: 22px;
  &__inner {
    padding: 43px 18px;
    .heritage__title {
      font-family: "QTWeise-Bold";
      font-size: 2.5rem;
      font-weight: bold;
      color: #111;
    }
    .heritage__body {
      width: 600px;
      margin-top: 13px;
      line-height: 25px;
      font-size: 1.5rem;
      font-family: "Noto Sans KR";
      color: #454545;
      letter-spacing: 0.6px;
    }
  }
}

.collection {
  margin-bottom: 50px;
  &::before {
    content: "";
    display: block;
    width: 1280px;
    height: 311px;
    background: url(../../../resources/images/pattern/common/collection1.png) no-repeat center;
  }
  &__products2 {
    display: inline-block;
    width: 980px;
    font-family: "QTWeise-Bold";
    font-size: 14.26rem;
    margin: 68px 0 68px 28px;
  }
  &__viewMore {
    font-family: "Noto Sans KR";
    font-size: 3rem;
    margin-right: 25px;
    font-weight: 800;
  }
}

.slide-intro {
  .swiper-slide {
    position: relative;
    &.swiper-slide-active {
      .text-area {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }

    img {
      object-position: 50% 100%;
    }
    .text-area {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0);
      width: 70%;
      max-width: 400px;
      opacity: 0;
      transition: all 0.5s;
      // .text-area__tit
      &__tit {
        font-size: 3rem;
        color: $gray-90;
        font-family: "GmarketSansMedium";
        font-weight: $font-medium;
      }
      &__cont {
        color: $gray-70;
      }
      &__goto {
        display: inline-block;
        margin-top: 20px;
        padding: 7px 20px;
        background: $primary;
        color: $white;
      }
    }
    img {
      height: 50vh;
    }
  }
  .swiper-pagination {
    display: none;
  }
}

// tablet
@media screen and (min-width: 600px) {
  .slide-intro .swiper-slide img {
    height: 70vh;
  }
}

// desktop
@media screen and (min-width: 1024px) {
  .slide-intro {
    .swiper-slide {
      img {
        height: 90vh;
      }
      .text-area {
        width: 100%;
        max-width: none;
        text-align: left;
      }
      .text-area__tit {
        font-size: 6rem;
      }
      .text-area__cont {
        font-size: 2rem;
      }
      .text-area__goto {
        margin-top: 30px;
      }
    }
    .swiper-pagination {
      display: block;
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}

.slide-studio {
  overflow: visible;
  width: 80%;
  margin-left: 0;
  @include mobileMore {
    width: 90%;
  }
  @include tabletMore {
    width: 100%;
    margin-left: auto;
  }
  .swiper-pagination {
    bottom: -50px;
  }
}

.track {
  display: flex;
  overflow-x: hidden;
  padding: 25px 0;
}
.content {
  animation-name: main-marquee-ani;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  animation-direction: normal;
  animation-timing-function: linear;
  white-space: nowrap;
  font-family: "QTWeise-Bold";
  font-size: 44rem;
}

@keyframes main-marquee-ani {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
