// 사이트 컨텐츠 내용
:root {
  --swiper-theme-color: red;
}

.modal-search {
  width: 100%;
  height: 300px;
  position: fixed;
  top: -300px;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  &.active {
    top: 0;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    i {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
  .search {
    width: 500px;
    position: relative;
    form {
      display: flex;
      input[type="search"] {
        flex: 5;
        padding: 15px;
        padding-left: 30px;
        border: none;
        &::placeholder {
          opacity: 1;
          transition: opacity 0.3s;
        }
        &:focus {
          outline: none;
          &::placeholder {
            opacity: 0;
          }
        }
      }
      input[type="submit"] {
        flex: 1;
        padding: 15px;
        border: none;

        opacity: 0.7;
        cursor: pointer;
        transition: opacity 0.3s;
        &:hover {
          opacity: 1;
        }
      }
    }
    &::before {
      content: "\f002";
      font-family: "fontawesome";

      position: absolute;
      top: 22%;
      left: 8px;
      font-size: 1.2rem;
    }
    .hash-tag {
      font-size: 1.1rem;

      margin-top: 6px;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;

  &__content {
    width: 100%;
    height: 100vh;
    transform-origin: center;
    object-fit: cover;
    object-position: 48% 39%;
    @include tabletMore {
      width: 100%;
      height: 100%;
      object-fit: contain; // background-size: cover 와 비슷함. (HTML 요소 or 비디오와 작동)
    }
  }
} /* bg-video */
.container {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  @include mobile {
    width: 100%; //599px 이하일 경우
  }
  @include tablet {
    width: 100%; //600px 이상 1024px 이하일 경우
  }
  .section-img {
    text-align: center;
  }
  .section-content {
    position: relative;

    .title {
      font-family: "AlbraSansTRIAL-Medium";
      font-size: 8.75rem;
      font-weight: bold;
      letter-spacing: 3px;
      line-height: 135px;
      @include tablet {
        font-size: 7.125rem;
        line-height: 7.125rem;
      }
      @include mobile {
        font-size: 4.125rem;
        line-height: 4.125rem;
      }
    }
    .txt {
      font-family: "Noto Sans KR";
      margin: 4px 0 50px 0;
      &__descMain {
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 0%;
        line-height: auto;
        margin: 8px 0;
      }
      &__descSub {
        margin-top: 19px;
        font-size: 1.3rem;
      }
      &__price {
        margin-top: 8px;
        color: #666;
        font-size: 1.2rem;
      }
    }
  }

  .product-second {
    img {
      display: block;
      margin: 85px auto;
    }
    /* 모바일 뷰에서 배경 크기 줄이기 */
    @include tablet {
      /* 600px 이상 1024px 이하일 경우 */
      img {
        width: 40%;
      }
    }
    @include mobile {
      img {
        width: 50%;
      }
    }
  }
  .mainTxt {
    width: 1280px;
    height: 446px;
  }
  .cream_video {
    width: 470px;
  }

  .mainTxt__sub {
    font-family: "Noto Sans KR";
    color: #ddd;
  }
}

.item {
  ul {
    display: flex;

    @include mobile {
      width: 100%;
      flex-wrap: wrap;
      li {
        width: 50%;
      }
    }
    @include tablet {
      width: 100%;
      flex-wrap: wrap;
      li {
        width: 30%;
      }
    }
    li {
      a {
        .stagger {
          line-height: 20px;
          letter-spacing: 1.1px;
          margin: 25px 0px 30px 0px;
          padding: 0px 30px 0px 0px;
          @include mobile {
            text-align: center;
          }
          .product-line {
            display: block;
            margin: 0px 0px 10px;
            color: #999;
            font-size: 1.3rem;
            font-weight: bold;
          }
          .product-description {
            display: block;
            color: #666;
            margin: 0px 0px 10px;
          }
          .product-price {
            display: block;
            margin: 8px 0px 0px;
            color: #333;
          }
        }
      }
    }
  }
}

.video {
  .yunjo_video {
    width: 100%;
  }
}
.heritage {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  margin-top: 22px;

  &__inner {
    padding: 43px 18px;
    @include mobile {
      width: 100%;
    }
    .heritage__title {
      font-family: "QTWeise-Bold";
      font-size: 2.5rem;
      font-weight: bold;
      color: #111;
    }
    .heritage__body {
      width: 600px;
      margin-top: 13px;
      line-height: 25px;
      font-size: 1.5rem;
      font-family: "Noto Sans KR";
      color: #454545;
      letter-spacing: 0.6px;
      @include mobile {
        width: 100%;
        margin-top: 8px;
      }
      @include tablet {
        width: 100%;
        margin-top: 8px;
      }
    }
  }
}

.collection {
  margin-bottom: 50px;
  &::before {
    content: "";
    display: block;
    width: 1280px;
    height: 311px;
    background: url(../../../resources/images/pattern/common/collection1.png) no-repeat center;
  }
  @include mobile {
    &::before {
      width: 100vw;
    }
  }
}
.collection__products2 {
  display: inline-block;
  width: 980px;
  font-family: "QTWeise-Bold";
  font-size: 14.26rem;
  margin: 68px 0 68px 28px;
  @include mobile {
    font-size: 9rem;
    margin: 40px 0 30px 28px;
  }
}
.collection__viewMore {
  font-family: "Noto Sans KR";
  font-size: 3rem;
  margin-right: 25px;
  font-weight: 800;
  @include mobile {
    display: block;
    width: 100%;
    margin-left: 30px;
    .fa-circle-right {
      display: none;
    }
  }
}

.slide-intro {
  .swiper-slide {
    position: relative;
    &.swiper-slide-active {
      .text-area {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }

    img {
      object-position: 50% 100%;
    }
    .text-area {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0);
      width: 70%;
      max-width: 400px;
      opacity: 0;
      transition: all 0.5s;
      // .text-area__tit
      &__tit {
        font-size: 3rem;
        color: $gray-90;
        font-family: "GmarketSansMedium";
        font-weight: $font-medium;
      }
      &__cont {
        color: $gray-70;
      }
      &__goto {
        display: inline-block;
        margin-top: 20px;
        padding: 7px 20px;
        background: $primary;
        color: $white;
      }
    }
    img {
      height: 50vh;
    }
  }
  .swiper-pagination {
    display: none;
  }
}

// tablet
@media screen and (min-width: 600px) {
  .slide-intro .swiper-slide img {
    height: 70vh;
  }
}

// desktop
@media screen and (min-width: 1024px) {
  .slide-intro {
    .swiper-slide {
      img {
        height: 90vh;
      }
      .text-area {
        width: 100%;
        max-width: none;
        text-align: left;
      }
      .text-area__tit {
        font-size: 6rem;
      }
      .text-area__cont {
        font-size: 2rem;
      }
      .text-area__goto {
        margin-top: 30px;
      }
    }
    .swiper-pagination {
      display: block;
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}

.slide-studio {
  overflow: visible;
  width: 80%;
  margin-left: 0;
  @include mobileMore {
    width: 90%;
  }
  @include tabletMore {
    width: 100%;
    margin-left: auto;
  }
  .swiper-pagination {
    bottom: -50px;
  }
}

/* modal-search */

.track {
  display: flex;
  overflow-x: hidden;
  padding: 25px 0;
}
.content {
  animation-name: main-marquee-ani;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  animation-direction: normal;
  animation-timing-function: linear;
  white-space: nowrap;
  font-family: "QTWeise-Bold";
  font-size: 44rem;
  @include mobile {
    font-size: 10rem;
  }
}

@keyframes main-marquee-ani {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
